{% extends "base.html" %}
{% block title %}Dashboard | Findly{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="form-card">
            <h2 class="fw-bold">Welcome, {{ user.email }}</h2>
            <p class="text-muted">Role: {{ user.role }}</p>

            <hr>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="p-3 border rounded text-center">
                        <h5>My Profile</h5>
                        <p class="text-muted">View & update profile</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-3 border rounded text-center">
                        <h5>My Reports</h5>
                        <p class="text-muted">Lost & found items</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-3 border rounded text-center">
                        <h5>Settings</h5>
                        <p class="text-muted">Account preferences</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}